body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #fae0e0;
    font-family: Arial, sans-serif;
}

.calculator {
    background: #181b18;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(17, 227, 13, 0.2);
}

#display {
    width: 100%;
    height: 60px;
    font-size: 28px;
    margin-bottom: 15px;
    border: none;
    background: #39b421;
    color: rgb(50, 85, 50);
    text-align: right;
    padding: 10px;
    border-radius: 8px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 70px);
    gap: 12px;
}

button {
    padding: 20px;
    font-size: 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background: #4f4a4a;
    color: white;
    transition: 0.2s;
}

button:hover {
    background: #555;
}

.zero {
    grid-column: span 2;
}
